body{
	background: #1f79ab;
	display: none;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

.navbar{
	display: flex;
	padding: 20px;
	color: #fff;
	align-items: center;
	justify-content: space-between;
}

.pull-left{
	float: left;
}
.pull-right{
	float: right;
}

.depth-1{
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.container{
	background: #fff;
	box-shadow: 0 0 2px  rgba(0,0,0,0.2);
}

aside{
	width: 40%;
	float: left;
	background: #fff;

	.header {
	    color: #143779;
	    padding: 20px 0 0;
	    text-align: center;
	    font-size: 40px;
	    h2 {
			    margin: 0;
			    font-weight: lighter;
			    span{
			    	font-weight: bold;
			    }
			}
	}
	p.sub-title {
    background: #143779;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    text-transform: capitalize;
	}
}
.btn{
	border: 1px solid;
	color: #fff;
	padding: 5px 15px;
	font-size: 12px;

	&.btn-primary {
    background: #0787e2;
    border-color: #1f79ab;
    border-radius: 4px;
  }
}
.tw{
	background: #1da1f2;
	border-color: #1da1f2;
}
.fb{
	background: #4267b2;
	border-color: #4267b2;
}
.fb-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0px 30px 20px;
    
    .btn-fb{
    	background: #4267b2;
    	position: relative;
    	padding-left: 20px;
    	margin-right: 10px;

    	.fa-facebook {
			    margin-right: 5px;
			    background: #3a5b9d;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    display: flex;
			    justify-content: flex-end;
			    align-items: center;
			    width: 15px;
			    padding-right: 2px;
			}
    }
}
form{
	padding: 0 30px;
	padding-bottom: 30px;

	.form-group{
		margin: 10px;

		label {
		    text-align: right;
		    display: inline-block;
		    width: 35%;
		}
		.form-control{
			float: right;
			width: 60%;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
		}
		small.name{
			display: inline-block;
	    margin-left: 156px;
		}
	}
}

span.gender-wrapper {
    display: inline-block;
        margin-left: 12px;
            width: 61%;
		select {
		    width: 38%;
		}
    #male{
    	margin-right: 4px;
    }
    #female{
    	margin-left: 5px;
    }
}
.email{
	small{
    font-size: 10px;
    margin-left: 159px;
    display: inline-block;
	}
}

.password{
	small{
    font-size: 10px;
    margin-left: 159px;
    display: inline-block;
	}
}

.btn-submit {
		position: relative;
	  padding-left: 50px;
    height: 50px;
    border-radius: 50px;
    background: #439d17;
    text-align: center;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    margin: 0 auto;
    .fa-arrow-circle-right {
		    position: absolute;
		    font-size: 30px;
		    top: 50%;
		    left: 10px;
		    transform: translateY(-50%);
		    background: #1495e9;
		    border-radius: 50%;
		    height: 25px;
		    width: 25px;
		    padding: 0;
		    line-height: 23px;
		}
}
main {
    width: 60%;
    float: right;
    background: #fff;
    height: 645px;

    .banner {
		    height: 450px;
		    background-repeat: no-repeat;
		    background-size: contain;
		}
		.content{
    	padding: 0 0px 0 50px;

			h2 {
			    font-size: 40px;
			    margin: 20px 0;
			    color: #1f79ab;
			}
			ul{
				padding-left: 20px;
				list-style: none;
				li:before {    
				font-family: 'FontAwesome';
				content: '\f0da';
				margin:0 5px 0 -15px;
				}
			}
		}
}

.btn{
	cursor: pointer;

	&:hover{
		transform: scale(1.1);
	}
}